<h1 class="header">Donor profile page</h1>

<p>Name: <%= @donor.name %></p>
<p>Email: <%= @donor.email %></p>
<p>Address: <%= @donor.address %></p>
<p>Phone number: <%= @donor.phonenumber %></p>

<br>
<% link_to 'Edit your profile details', edit_donor_path %>
