<br>

  <br>
  <div class="text-center">
    <div class="header" id="welcome-header">
      <h1>Welcome to The Good Revolution!</h1>
    </div>
    <br>
  <img src="images/gr-logo-larger.jpeg" alt="GR logo" id="logo" class="img-rounded"/>
  </div>
  <br>
  <br>

  <br>
  <div id="welcome-page-links" class="container rounded">
    <div id="welcome-page-link-1">
    <p><%= link_to "Which charities can I support via The Good Revolution?", charities_path %></p>
    </div>
    <br>
    <div id="welcome-page-link-2">
    <p><%= link_to "What Social Actions are part of The Good Revolution?", social_actions_path %></p>
    </div>
    <br>
    <div id="welcome-page-link-3">
    <p><%= link_to "Which events are coming up?", events_path %></p>
    </div>
  </div>
