<h1>Welcome to The Good Revolution!</h1>

<p>We are a website that allows people who want to contribute to society as 'good humans', to learn more about different charities, their fundraising events, and donate to good causes.</p>
<p>The Good Revolution also revolutionises giving to charity by offering greater transparency to those who wish to donate or volunteer, by focusing on specific, tangible social actions that
  charities are involved with and for which they are seeking additional support.</p>

  <p><%= link_to "Which charities can I support via The Good Revolution?", charities_path %></p>
  <p><%= link_to "What Social Actions are part of The Good Revolution?", social_actions_path %></p>
  <p><%= link_to "Which events are coming up?", events_path %></p>
