<h1> Events </h1>

<% @events.each do |event| %>
<ul>
  <p><%= link_to event.name, event %> </p>
  <img src="<%= event.img_url %>" />
</ul>
<%end%>

<p><%= link_to 'All Charities', charities_path %></p>
<p><%= link_to 'All Social Actions', social_actions_path %></p>
