<h1>Donate</h1>

<% form_for @donor do |f| %>
<div class="field">
<%= f.label :name %>
<%= f.text_field :name %>
</div>
<br>
<div class="field" %>
<%= f.label :amount, "Please enter the amount you wish to donate" %>
<%= f.number_field :amount %>
</div>
<br>
<div class="action">
<% f.submit %>
</div>
<% end %>
