<h1 class="header"> Social Actions </h1>
<div class="index-view">
<% @social_actions.each do |action| %>
    <div class="box for-item">
  <div class="h3 index-link-name"><%= link_to action.title, social_action_path(action) %> </div>
  <br>
  <img src="<%= action.img_url %>" class="img-rounded img-in-box" />
  </div>
<%end%>
</div>
</div>
  <div class="footer-links">
    <p><%= link_to 'Add a Social Action', new_social_action_path %></p>
    <p><%= link_to 'All Charities', charities_path %></p>
  </div>
