<h1> Social Actions </h1>

<% @social_actions.each do |action| %>
<ul>
  <li><%= link_to action.title, social_action_path(action) %> </li>
</ul>
<%end%>

<p><%= link_to 'All Charities', charities_path %></p>
