<h1> Social Actions </h1>
<div id="container">
<% @social_actions.each do |action| %>
  <div class="box">
  <p><%= link_to action.title, social_action_path(action) %> </p>
  <img src="<%= action.img_url %>" />
  </div>
<%end%>
</div>
</div>
<div class="after-box">
<p><%= link_to 'Add a Social Action', new_social_action_path %></p>
<p><%= link_to 'All Charities', charities_path %></p>
</div>
