// Place all the styles related to the SocialActions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
img {
  height: 50%;
  width: 70%;
  margin-left: 20%;
}

.show-profile {

}

.index-link-name {
  padding-left: 1%;
  padding-right: 1%;
}


.img-in-box {
  margin-left: 0%;
  padding-top: 1%;
  padding-bottom: 2%;
}


#charity-name {
  text-align: center;
}
