// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background: rgba(243, 230, 15, 1.0);
background: -webkit-radial-gradient(left, rgba(243, 230, 15, 1.0), rgba(240, 159, 40, 1.0));
background: -moz-radial-gradient(left, rgba(243, 230, 15, 1.0), rgba(240, 159, 40, 1.0));
background: radial-gradient(to right, rgba(243, 230, 15, 1.0), rgba(240, 159, 40, 1.0));
 // padding-top: 10px;
}

.nav {
  background-color: white;
}

.header {
    color: white;
    text-align: center;
}

#welcome-header {
  text-align: center;
  color: white;
}


#welcome-page-links {
  // position: relative;
  // top: 55%;
  left: 20%;
  background-color: white;
  width: 60%;
  padding: 2%;
  // border-radius: 8%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#welcome-page-link-1 {
  text-align: center;
  font-size: 12px;
}

#welcome-page-link-2 {
  text-align: center;
}


#welcome-page-link-3 {
  text-align: center;
}

#welcome-summary {
  color: white;
  display: flex;
  // justify-content: center;
  // align-items: center;

}

#about-header {
  color: white;
  text-align: center;
}

#logo {
  // position: relative;
  // left: 25%;
  display: inline-block;
  margin: 0 auto;
  // border-radius: 20%;
}
